# This is an example of a local environment file for a Next.js project.
NEXT_PUBLIC_SANITY_PROJECT_ID=
# Change this to your dataset name, eg 'development' or 'staging' or 'production'
NEXT_PUBLIC_SANITY_DATASET=production
# Change this to your Sanity API version, eg '2024-02-09'
NEXT_PUBLIC_SANITY_API_VERSION=2024-02-09

# Set this to true to enable maintenance mode
MAINTENANCE_MODE=true